*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*debug region*/

.debug header{
    padding: 20px 130px;

    background-color: aqua;
}

.debug nav{
    background-color: #daa520;
}

.debug main{
    background-color: gray;
}

.debug footer{
    background-color: black;
}

/*common region*/

li{
    padding: 0 5px;
}

ul{
    list-style: none;
    width: 50%;
}

/*header region*/

.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo, .login{
    width: 25%;
    padding: 0 5px;
}

.login{
    text-align: right;
}

/*main region*/
.bg-blue{
    background-color: darkblue;
}

.violet-rectangle{
    width: 55%;
    background-color: violet;
}

.bg-white{
    background-color: white;
}

.pink-rectangle{
    width: 33%;
    background-color: #ffc0cb;
}

.blue-rectangle{
    width: 52%;
    background-color: #1e90ff;
}

.bg-light-gray{
    background-color: #d3d3d3;
}

.green-rectangle{
    height: 800px;
    width: 85%;
    background-color: #228b22;
}

.special.flex-container{
    flex-direction: row-reverse;
}

/*utilities region*/
.bg-blue, .bg-white, .bg-light-gray, .bg-black{
    padding: 2rem;
}

.violet-rectangle, .pink-rectangle, .blue-rectangle{
    height: 400px;
}

div.logo, div.login, ul.flex-container,.violet-rectangle, 
.pink-rectangle, .blue-rectangle, .green-rectangle, 
.light-red-rectangle, .logo-footer, .button{
    border: 1px dashed;
}


/*footer region*/
.bg-black{
    background-color: black;
    border-bottom: 1px solid white;
}

.light-red-rectangle{
    height: 500px;
    width: 25%;
    background-color: #f08080;
}

.darkgreen-rectangle{
    height: 500px;
    width: 15%;
    background-color: #20b2aa;
    border: 1px dashed white;
}

.bg-light-green{
    background-color: #7fffd4;
    width: 82%;  
    padding: 10px 0;
    margin: auto;
    margin-top: 1rem;
}

.ending.flex-container{
    justify-content: space-between;
}

.logo-footer, .button{
    background-color: #ffb6c1;
    padding: 5px;
}